.geo-map-view {
    height: 80vh;
    width: 100%;
}

ul.geo-add-dialog {
    border: 1px solid #DDD;
}

.geo-add-dialog li {
    border: none;
}

.fence:hover {
    background-color: #EEE;
    cursor: pointer;
}

ul.geo-add-control{
    box-shadow: none;
}

.geo-add-control li {
    border: none;
}

.point:hover {
    background-color: #EEE;
}