<div class="container-fluid index-container">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group geo-add-control">
                <li class="list-group-item">
                    <button class="btn btn-positive btn-block" ng-click="showAddFence();">Add geofence</button>
                </li>
            </ul>
            <div class="list-group geo-add-dialog">
                <div class="list-group-item fence" ng-repeat="f in geofenceArr" href="#" ng-click="showFence($index)" ng-class="{'disabled': !f._id}">
                    <a href="#" class="pull-right black" ng-click="editFence($index)"><i class="fa fa-pencil"></i></a> <i class="fa fa-circle-o-notch fa-spin" ng-show="!f._id"></i>
                     {{ f.name }}
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div ng-class="{'col-md-9': isAdd || isEdit, 'col-md-12': !isAdd || !isEdit}">
                    <div class="panel panel-default shadow">
                        <div class="panel-body">
                            <div class="geo-map-view" id="geomap"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-show="isAdd || isEdit">
                    <ul class="list-group geo-add-dialog">
                        <li class="list-group-item">
                            <input type="text" class="form-control" placeholder="Name" ng-model="fenceName">
                        </li>
                        <li class="list-group-item" ng-show="isAdd || isEdit">
                            <a class="btn btn-sm btn-danger pull-right" ng-click="closeFence()"><i class="fa fa-times-circle"></i>&nbsp; Cancel</a>
                            <a class="btn btn-sm btn-primary" ng-click="addFence()" ng-disabled="!fenceName || geoFence.length < 3 "><i class="fa fa-floppy-o"></i>&nbsp; Save</a>
                        </li>
                    </ul>

                    <div class="alert alert-info" ng-hide="geoFence.length > 2 ">
                        Click on the map to select 3 or more points
                    </div>

                    <div class="list-group" ng-show="geoFence.length > 0 ">
                        <div class="list-group-item point" ng-repeat="g in geoFence" ng-mouseover="pointMouseOver($index)" ng-mouseleave="pointMouseLeave($index)">
                            <a href="#" class="pull-right black" ng-click="removePoint($index)"><i class="fa fa-times"></i></a> Point {{ $index + 1}}
                        </div>
                        <div class="list-group-item" ng-show="isEdit">
                            <a class="btn btn-sm btn-default btn-block" ng-click="deleteFence()"><i class="fa fa-trash"></i>&nbsp; Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>