<nav class="navbar navbar-inverse noRadius shadow user-home-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#userNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">IoT Platform</span>
        </div>
        <div class="collapse navbar-collapse" id="userNav">
            <ul class="nav navbar-nav navbar-left">
                <li ui-sref="user.index" ng-class="{'active':tab == 1}" ng-click="tab = 1;"><a href="#"><i class="fa fa-home fa-2x"></i>&nbsp; Home</a></li>
                <li ui-sref="user.visual" ng-class="{'active':tab == 2}" ng-click="tab = 2;"><a href="#"><i class="fa fa-pie-chart fa-2x"></i>&nbsp; Visualization</a></li>
                <li ui-sref="user.mgmt" ng-class="{'active':tab == 3}" ng-click="tab = 3;"><a href="#"><i class="fa fa-cog fa-2x"></i>&nbsp; Management</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="logOut()"><i class="fa fa-sign-out"></i> Log Off</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Logout View -->
<div class="log-off" ng-show="showLogoff">
    <div class="logoffbg" ng-click="showLogoff = false"></div>
    <button ng-click="logoff()" class="card2 logoffanimation" ng-show="showLogoff">
        <p>Are you sure?</p>
        <p class="small">(Click here to log out!)</p>
    </button>
</div>

<div ui-view></div>