<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top noRadius" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">IoT Platform</span>
            </div>
        </div>
    </nav>

    <div style="margin-top:70px;"></div>
    <!-- USER TAB -->
    <div class="row">
        <div class="col-md-2">
            <div class="list-group admin-nav">
                <div class="list-group-item heading">
                    <span><i class="fa fa-cog"></i>&nbsp; Controls</span>
                </div>
                <a ng-click="tabClick('user')" href="#" ng-class="{'active':user_state}" class="list-group-item"><i class="fa fa-users"></i>&nbsp; User Management</a>
                <a ng-click="tabClick('device')" href="#" ng-class="{'active':device_state}" class="list-group-item"><i class="fa fa-laptop"></i>&nbsp; Device</a>
                <a ng-click="tabClick('audit')" href="#" ng-class="{'active':audit_state}" class="list-group-item"><i class="fa fa-history"></i>&nbsp; Audit Logs</a>
            </div>

            <div class="list-group" ng-show="isUserTab">
                <a href="#" class="list-group-item" ng-click="userReset()">
                    <i class="fa fa-user-plus"></i>&nbsp; Add User
                </a>
            </div>
            <div class="list-group" ng-show="isDeviceTab">
                <a href="#" class="list-group-item" ng-click="openAddDevice()">
                    <i class="fa fa-user-plus"></i>&nbsp; Add Device
                </a>
            </div>

            <div class="list-group admin-nav">
                <a ng-click="logOut()" href="#" class="list-group-item"><i class="fa fa-sign-out"></i>&nbsp; Log Off</a>
            </div>
        </div>
        <div class="col-md-10">
            <div ng-show="isUserTab">
                <div class="well">
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn  pull-right noRadius shadow black-background white" ng-click="userReset()" data-toggle="modal" data-target="#userModal">
                                <span ng-show="!showAddUser"><i class="fa fa-user-plus"></i> Add User</span>
                                <span ng-show="showAddUser"><i class="fa fa-times-circle"></i> Cancel</span>
                            </button>
                        </div>
                        <div class="col-md-3 col-md-offset-7">
                            <form class="form-inline pull-left" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search user" ng-model="qusrSearch">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="well well-sm admin-modal" ng-show="showAddUser">
                    <h4>Add new user</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="username" class="col-sm-4 control-label">Username</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username" ng-disabled="isUserUpdate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-4 control-label">Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4">
                                        <input type="password" class="form-control" id="password2" placeholder="Re-enter password" ng-model="user.password2">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="user.isAdmin" ng-disabled="true"> Make admin.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="user.canAddUsers" ng-disabled="true"> Can add users?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="user.canAddDevices" ng-disabled="true"> Can add devices?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" ng-hide="isUserUpdate" class="btn btn-primary" ng-click="addUser('add')" ng-disabled="!user.username && !(user.password == user.password2)">Add user</button>
                                    <button type="button" ng-show="isUserUpdate" class="btn btn-success" ng-click="addUser('update')">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <form class="form" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search user" ng-model="qusrSearch">
                                </div>
                            </form>
                            <div class="list-group">
                                <div class="list-group-item heading">
                                    <span><i class="fa fa-users"></i>&nbsp; User List</span>
                                </div>
                                <div class="list-group-item" ng-show="!userList">
                                    <center><i class="fa fa-refresh fa-spin"></i></center>
                                </div>
                                <a ng-click="selectUser(user)" href="#" ng-class="{'active':user == selectedUser}" class="list-group-item" ng-repeat="user in userList | filter:qusrSearch">
                                    <i class="fa fa-user pull-right" ng-class="{'text-danger': !user.canManageUsers}">&nbsp;</i>
                                    <i class="fa fa-laptop pull-right" ng-class="{'text-danger': !user.canManageVehicles}">&nbsp;</i>
                                    <i class="fa fa-user-secret pull-right" ng-class="{'text-danger': !user.isAdmin}">&nbsp;</i>
                                    <span>{{user.username}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="selectedUser">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <span class="admin-user-info-label">Username</span>
                                        <pre>{{ selectedUser.username }}</pre>
                                    </div>
                                    <div>
                                        <span class="admin-user-info-label">Organization</span>
                                        <pre>{{ selectedUser.org}}</pre>
                                    </div>
                                    <div>
                                        <span class="admin-user-info-label">Added on</span>
                                        <pre>{{ selectedUser.cDate }}</pre>
                                    </div>
                                    <div ng-show="selectedUser.llDate">
                                        <span class="admin-user-info-label">Last login</span>
                                        <pre>{{ selectedUser.llDate }}</pre>
                                    </div>
                                    <div>
                                        <span class="admin-user-info-label">Access</span>
                                        <pre>
                                            <span>Is admin? <span class="label label-danger" ng-hide="user.isAdmin">No</span><span class="label label-success" ng-show="user.isAdmin">Yes</span></span>
                                            <span>Can add new users? <span class="label label-danger" ng-hide="user.canManageUsers">No</span><span class="label label-success" ng-show="user.canManageUsers">Yes</span></span>
                                            <span>Can add new devices? <span class="label label-danger" ng-hide="user.canManageDevices">No</span><span class="label label-success" ng-show="user.canManageDevices">Yes</span></span>
                                        </pre>
                                    </div>
                                    <div>
                                        <span class="admin-user-info-label"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-striped userList">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Username</th>>
                                    <th>Created On</th>
                                    <th>Last Login</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in userList | filter:qusrSearch">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">{{user.username}}</div>
                                            <div class="panel-body" uib-collapse="isCollapsed">
                                                <div class="btn-group btn-group-justified">
                                                    <label class="btn btn-default" ng-model="checkModel.left" uib-btn-checkbox>Left</label>
                                                    <label class="btn btn-default" ng-model="checkModel.middle" uib-btn-checkbox>Middle</label>
                                                    <label class="btn btn-default" ng-model="checkModel.right" uib-btn-checkbox>Right</label>
                                                </div>
                                                <div class="well well-sm">

                                                    <span class="fa-stack fa-lg">
                                                        <i class="fa fa-user-secret fa-stack-1x"></i>
                                                        <i class="fa fa-ban fa-stack-2x text-danger" ng-hide="user.isAdmin"></i>
                                                    </span>
                                                    <span class="fa-stack fa-lg" tooltip-placement="top" uib-tooltip="Can add new devices?">
                                                        <i class="fa fa-laptop fa-stack-1x"></i>
                                                        <i class="fa fa-ban fa-stack-2x text-danger" ng-hide="user.canManageVehicles"></i>
                                                    </span>
                                                    <span class="fa-stack fa-lg" tooltip-placement="top" uib-tooltip="Can add new users?">
                                                        <i class="fa fa-user fa-stack-1x"></i>
                                                        <i class="fa fa-ban fa-stack-2x text-danger" ng-hide="user.canManageUsers"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{user.cDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>{{user.llDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-link btn-sm" ng-click="editUser(user)" data-toggle="modal" data-target="#userModal">
                                                <i class="fa fa-pencil"></i> Edit
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm">
                                                <i class="fa fa-ban"></i> Suspend
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm" ng-click="deleteUser(user)">
                                                <i class="fa fa-trash"></i> Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="isDeviceTab">
                <!-- DEVICE TAB-->
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline pull-left" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search devices" ng-model="qdeviceSearch">
                            </div>
                        </form>
                        <button class="btn pull-right noRadius shadow black-background white" ng-click="openAddDevice()" data-toggle="modal" data-target="#deviceModal">
                            <i class="fa fa-user-plus"></i> Add Device
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped deviceList">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Device Id</th>
                                    <th>Registration Number</th>
                                    <th>Make</th>
                                    <th>Model Year</th>
                                    <th>Permit</th>
                                    <th>Added on</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="device in deviceList | filter:qdeviceSearch">
                                    <td>{{$index+1}}</td>
                                    <td>{{device.vid}}</td>
                                    <td>{{device.registrationNumber}}</td>
                                    <td>{{device.make}}</td>
                                    <td>{{device.modelYear}}</td>
                                    <td>{{device.permit}}</td>
                                    <td>{{device.cDate | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-link btn-xs" ng-click="editDevice(device)" data-toggle="modal" data-target="#deviceModal">
                                                <i class="fa fa-pencil"></i> Edit
                                            </button>
                                            <button type="button" class="btn btn-link btn-xs">
                                                <i class="fa fa-ban"></i> Suspend
                                            </button>
                                            <button type="button" class="btn btn-link btn-xs" ng-click="deleteDevice(device)">
                                                <i class="fa fa-trash"></i> Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="isAuditTab">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline pull-left" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search logs" ng-model="qauditSearch">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped auditList">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th width="15%">Date</th>
                                    <th width="10%">Username</th>
                                    <th width="10%">Organization</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="audit in auditList | filter:qauditSearch">
                                    <td>{{$index+1}}</td>
                                    <td>{{audit._source.date | date:'yyyy-MM-dd HH:mm'}}</td>
                                    <td>
                                        <center>{{audit._source.username}}</center>
                                    </td>
                                    <td>
                                        <center>{{audit._source.org}}</center>
                                    </td>
                                    <td>{{audit._source.log}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Audit Tab -->

    <!-- Device Modal -->
    <div class="modal fade modal-position" id="deviceModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body font1-2">
                    <table>
                        <tr>
                            <td class="right-align">Device ID</td>
                            <td>
                                <input type="text" maxLength="11" ng-model="deviceId" ng-disabled="isDeviceDisabled">
                            </td>
                        </tr>
                        <tr>
                            <td class="right-align">Registration Number</td>
                            <td>
                                <input type="text" ng-model="regNo" ng-disabled="isDeviceDisabled">
                            </td>
                        </tr>
                        <tr>
                            <td class="right-align">Make</td>
                            <td>
                                <input type="text" ng-model="make">
                            </td>
                        </tr>
                        <tr>
                            <td class="right-align">Model Year</td>
                            <td>
                                <input type="text" ng-model="model">
                            </td>
                        </tr>
                        <tr>
                            <td class="right-align">Permit</td>
                            <td>
                                <input type="text" ng-model="permit">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="pull-left text-danger" ng-show="createDeviceError">Please fill all fields</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modalfooter">
                    <button type="button" class="btn width15 black-background white" ng-show="isDeviceAdd" ng-click="addDevice('add')">Save</button>
                    <button type="button" class="btn width15 black-background white" ng-hide="isDeviceAdd" ng-click="addDevice('update')">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>